.center {
	text-align: center;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #f2f2f2;
}


.navbar {
  display: flex;
  justify-content: center;
  padding:;
  margin: 20px;
  list-style-type: none;
}

.navbar li {
  margin: 15px;
}

.navbar a {
  padding: 10px;
  border: 2px solid ;
  border-radius: 8px;
  border-color: black;
}

.navbar a:hover {
  background-color: black;
}

div {
  width:px; height:px;
  border: px solid black;
  padding: 10px;
  margin: 20px;
}