.center {
	text-align: center;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #f2f2f2;
}


.navbar {
  display: flex;
  justify-content: center;
  padding:;
  margin: 20px;
  list-style-type: none;
}

.navbar li {
  margin: 15px;
}

.navbar a {
  padding: 10px;
  border: 2px solid ;
  border-radius: 8px;
  border-color: black;
}

.navbar a:hover {
  background-color: black;
}

div {
  width:px; height:px;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
}

.size {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.deladdiv{
  width:700px;
}

.right {
  float:right;
}

.left{
float:left;
}

 .borderlistan {
  border: 3px solid black;
  padding: 20px;
  padding-top:5px;
  margin: 10px;
  width:500px;
 }

 .borderbild{
  width:600px;
 }

 .circle{
  list-style-type:circle;
 }

 .borderlistan2 {
  border: 3px solid black;
  padding: 20px;
  padding-top:5px;
  margin: 10px;
  width:200px;
 }

 .borderlistan3 {
  border: 3px solid black;
  padding: 20px;
  padding-top:5px;
  margin: 10px;
  width:130px;
 }

 .overflow{
  overflow:auto;
 }